<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HomeUI</key>
	<dict>
		<key>Landscape</key>
		<dict>
			<key>top</key>
			<integer>32</integer>
			<key>left</key>
			<integer>12</integer>
			<key>space</key>
			<integer>12</integer>
			<key>Components</key>
			<array>
				<array>
					<dict>
						<key>idCat</key>
						<integer>2</integer>
						<key>imageCat</key>
						<string>history.png</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>idCat</key>
						<integer>3</integer>
						<key>imageCat</key>
						<string>comic.png</string>
					</dict>
					<dict>
						<key>idCat</key>
						<integer>4</integer>
						<key>imageCat</key>
						<string>psy.png</string>
					</dict>
					<dict>
						<key>idCat</key>
						<integer>7</integer>
						<key>imageCat</key>
						<string>eco.png</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>idCat</key>
						<integer>5</integer>
						<key>imageCat</key>
						<string>science.png</string>
					</dict>
					<dict>
						<key>idCat</key>
						<integer>6</integer>
						<key>imageCat</key>
						<string>magazine.png</string>
					</dict>
					<dict>
						<key>idCat</key>
						<integer>8</integer>
						<key>imageCat</key>
						<string>fiction.png</string>
					</dict>
				</array>
			</array>
			<key>Buttons</key>
			<array>
				<dict>
					<key>top</key>
					<integer>564</integer>
					<key>left</key>
					<integer>758</integer>
					<key>imageBtn</key>
					<string>search.png</string>
				</dict>
				<dict>
					<key>top</key>
					<integer>624</integer>
					<key>left</key>
					<integer>758</integer>
					<key>imageBtn</key>
					<string>mybook.png</string>
				</dict>
				<dict>
					<key>top</key>
					<integer>684</integer>
					<key>left</key>
					<integer>758</integer>
					<key>imageBtn</key>
					<string>signin.png</string>
				</dict>
			</array>
		</dict>
		<key>Portrait</key>
		<dict>
			<key>top</key>
			<integer>4</integer>
			<key>left</key>
			<integer>12</integer>
			<key>space</key>
			<integer>12</integer>
			<key>Components</key>
			<array>
				<array>
					<dict>
						<key>idCat</key>
						<integer>2</integer>
						<key>imageCat</key>
						<string>history_pt.png</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>idCat</key>
						<integer>3</integer>
						<key>imageCat</key>
						<string>comic_pt.png</string>
					</dict>
					<dict>
						<key>idCat</key>
						<integer>4</integer>
						<key>imageCat</key>
						<string>psy_pt.png</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>idCat</key>
						<integer>5</integer>
						<key>imageCat</key>
						<string>science_pt.png</string>
					</dict>
					<dict>
						<key>idCat</key>
						<integer>6</integer>
						<key>imageCat</key>
						<string>magazine_pt.png</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>idCat</key>
						<integer>7</integer>
						<key>imageCat</key>
						<string>eco_pt.png</string>
					</dict>
					<dict>
						<key>idCat</key>
						<integer>8</integer>
						<key>imageCat</key>
						<string>fiction_pt.png</string>
					</dict>
				</array>
			</array>
			<key>Buttons</key>
			<array>
				<dict>
					<key>top</key>
					<integer>830</integer>
					<key>left</key>
					<integer>516</integer>
					<key>imageBtn</key>
					<string>search_pt.png</string>
				</dict>
				<dict>
					<key>top</key>
					<integer>890</integer>
					<key>left</key>
					<integer>516</integer>
					<key>imageBtn</key>
					<string>mybook_pt.png</string>
				</dict>
				<dict>
					<key>top</key>
					<integer>950</integer>
					<key>left</key>
					<integer>516</integer>
					<key>imageBtn</key>
					<string>signin_pt.png</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Categories</key>
	<array>
		<dict>
			<key>idCat</key>
			<string>2</string>
			<key>nameCat</key>
			<string>History</string>
			<key>books</key>
			<array/>
		</dict>
		<dict>
			<key>idCat</key>
			<string>3</string>
			<key>nameCat</key>
			<string>Comic</string>
			<key>books</key>
			<array/>
		</dict>
		<dict>
			<key>idCat</key>
			<string>4</string>
			<key>nameCat</key>
			<string>Psychology</string>
			<key>books</key>
			<array/>
		</dict>
		<dict>
			<key>idCat</key>
			<string>5</string>
			<key>nameCat</key>
			<string>Science</string>
			<key>books</key>
			<array/>
		</dict>
		<dict>
			<key>idCat</key>
			<string>6</string>
			<key>nameCat</key>
			<string>Magazine</string>
			<key>books</key>
			<array>
				<dict>
					<key>typeBook</key>
					<string>pdf</string>
					<key>imgBook</key>
					<string>bookWGE.png</string>
					<key>fileBook</key>
					<string>WGE_03</string>
				</dict>
				<dict>
					<key>typeBook</key>
					<string>pdf</string>
					<key>imgBook</key>
					<string>book.png</string>
					<key>fileBook</key>
					<string>Florida_201203</string>
				</dict>
				<dict>
					<key>typeBook</key>
					<string>html</string>
					<key>imgBook</key>
					<string>none</string>
					<key>fileBook</key>
					<string>http://www.hurahost.com/store/newipad.html</string>
					<key>nameBook</key>
					<string>New iPad</string>
				</dict>
				<dict>
					<key>typeBook</key>
					<string>epub</string>
					<key>imgBook</key>
					<string>none</string>
					<key>fileBook</key>
					<string>bane</string>
					<key>nameBook</key>
					<string>Bane</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>idCat</key>
			<string>7</string>
			<key>nameCat</key>
			<string>Economics</string>
			<key>books</key>
			<array/>
		</dict>
		<dict>
			<key>idCat</key>
			<string>8</string>
			<key>nameCat</key>
			<string>Fiction</string>
			<key>books</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
